.main {
display: flex;
padding: 10px 20px;

}
.main_text {
    font-size: 50px;
    flex-wrap: wrap;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.18);
   height: 300px;
}
.main img {
  width: 550px;
  height: 300px;

}
.main-p1 {
 height: 100px;
}
.main-p2 {
   height: 100px;
}
@media (max-width: 744px) {
    .main_text {
        font-size: 30px;
    }
    .main img {
        width: 450px;
        height: 300px;  
    }
}
@media (max-width: 542px) {
   
}