body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
  }
  * {
    font-family: "Cormorant Garamond", system-ui;  
}

  .wrapper {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
    padding: 10px 20px 0px 20px;
}
header p, h3 {
    margin: 0;
}
header {
    border-bottom: 1px solid #eaeaea;
}
.content h1 {
    margin: 0;
}

.search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
}
.removeBtn-s {
    position: absolute;
    right: 25px;
    width: 18px;
    height: 18px;
}
.search-block input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    
}
.drawer {
    position: absolute;
    width: 420px;
    right: 0;
    height: 100%;
    background: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    overflow: auto;
}
.drawer h2 {
    margin: 0;
}
.cartEmpty {
    text-align: center;
    height: 40%;
}
.cartItem { 
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: auto;
    margin-bottom: 20px;
}
.itemText {
    padding-left: 10px;
}
.greenButton:hover {
    background: linear-gradient(45deg, #4e781b,  #338315, #8af705);
}
.greenButton:active {
    background: #65853d;
} 
.greenButton {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.greenButton :disabled {
    background: #bebebe;
    cursor: default;
}
.greenButton img {
  position: relative;
  top: 1px;
  transform: rotate(180deg);
  margin-right: 15px;
  transition: transform 0.2s ease-in-out;
}
.greenButton img:hover {
    transform: translateX(5px);
}
.items {
    overflow: auto;
    flex: 1;
}
.cartItem p {
 font-size: 16px;
}
.cartItem b {
    font-size: 14px;
}
.cartItemImg {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: 0 -35px;
}
.cartTotal div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 10px;
    }
    .cartTotal li {
    align-items: flex-end;
    margin-bottom: 20px;
    }
.removeBtn {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}
.removeBtn:hover {
    opacity: 1;
}